body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 98vh;
}

button {
    padding: 20px 10px;
    width: 100%;
    margin: 10px 0;
    color: rgb(66, 62, 255);
    cursor: pointer;
}

a {
    text-decoration: none;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.btns {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.centerh {
    justify-content: center;
}

.centerv {
    align-items: center;
}

.vertical {
    flex-direction: column;
}

table {
    border-collapse: collapse;
}

th, tr, td {
    border: 1px solid black;
    text-align: center;
    min-width: 100px;
}

.back_btn {
    position: absolute;
    width: fit-content;
    left: 50px;
    top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    
}

.back_btn:visited {
    color: rgb(0, 91, 211);
}

.submit_btn {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid black;
    color: #3254db;
    font-size: 16px;
}

.submit_btn:hover {
    cursor: pointer;
}

.add_form {
    height: 10vh;
    /* width: 15vw; */
    width: min-content;
    min-width: 200px;
    justify-content: space-between;
}

.w100 {
    width: 100%;
}

input {
    box-sizing: border-box;
}

.reg_btn {
    text-decoration: none;
    text-align: center;
    color: #3254db;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
}